* {
	font-family: 'Quantico', sans-serif;
}

.name-header {
	background: #fff;
	color: #fff;
}

.content {
	margin-top: 15px;
}

.navbar a {
	font-size: 20px;
	color: #5D5D5D;
	font-weight: 600;
}

.navbar a.active {
	color: #007bff;
}

.card {
	border: 0px;
	margin: 10px;
}

h3 { 
	margin-bottom: 0px; 
}

.text-muted { 
	color: #fff; 
}

.card-body {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar {
	box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

small {
	color: #B5B5B5;
}

.itemHead {
	display: inline;
	font-size: 15px;
	color: #fff;
	margin-right: 5px;
	background: #B1ACAC;
	border-radius: 100px;
	padding: 5px;
}

.textItemHead {
	display: inline;
	font-size: 10px;
	color: #B1ACAC;
}

.card-body {
	padding: 0.5rem 1.25rem 0.5rem 1.25rem;
 	border-radius: 5px;
}

.conf .card-body {
        padding: 0.3rem 1.25rem 0.5rem 1.25rem;
        border-radius: 5px;
}

.divHead {
	margin-bottom: 10px;
}

label {
 	display: block;
    	margin-bottom: 0.1rem;
	font-size: 10px;
}

input {
	font-size: 12px;
}

.inputAceptar {
	margin: 10px;
}

.alertPosition {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	z-index: 999;
}

.alert-error {
	color: #721c24;
    	background-color: #f8d7da;
    	border-color: #f5c6cb;
}

.dataTables_wrapper {
	margin-bottom: 50px;
}

#dtHistory, #dtAlerts, .dataTables_paginate {
	font-size: 13px;
	color: #B1ACAC;
}

.thead-primary {
	background: #5D5D5D;
    	color: #fff;
}

.txt-primary {
	color: #007bff;
}

.txt-black {
	color: #000;
}

.TEM_SLOW, .HUM_SLOW {
	color: #007bff;
}

.TEM_HIGH, .HUM_HIGH {
        color: #FE8585;
}
